In [157]:
# import twint
import snscrape.modules.twitter as sntwitter

# import nest_asyncio
# nest_asyncio.apply()
import pandas as pd

df=pd.read_csv('./../../../data/twibot-22.csv')
df['_id']=df['id'].map(lambda x: x[1:])

In [158]:
df.head()

                     id  label                  _id
0  u1217628182611927040  human  1217628182611927040
1           u2664730894  human           2664730894
2  u1266703520205549568  human  1266703520205549568
3  u1089159225148882949  human  1089159225148882949
4             u36741729    bot             36741729

In [159]:
import datetime

for id in df['_id'][1:1]:
    tweets_list1 = []
    # data=datetime()

    current_time = datetime.datetime.now()
    justOneYear=False
    # declare a username
    for i, tweet in enumerate(sntwitter.TwitterUserScraper(int(id)).get_items()):
        
        if (justOneYear==True):
            if ((current_time.year-tweet.date.year)):
                print('year end')
                break
        # print(tweet.)
        tweets_list1.append([tweet.date, tweet.id, tweet.rawContent, tweet.user.username, tweet.lang,
                            tweet.hashtags, tweet.replyCount, tweet.retweetCount, tweet.likeCount, tweet.quoteCount, tweet.media])
    # tweet.
    user_tweets_df = pd.DataFrame(tweets_list1, columns=['DateTime', 'TweetId', 'Text', 'Username','Language',

                    'Hashtags','ReplyCount','RetweetCount','LikeCount','QuoteCount','Media'])

In [160]:
import snscrape.modules.twitter as sntwitter
list1=[]
# val = val = sntwitter.TwitterUserScraper(779266494270173187)
# df['data']=df['_id'].map(lambda x: sntwitter.TwitterUserScraper(x))
for id in df['id'][:10]:
    id = id[1:]
    # sntwitter.User
    scrapper = sntwitter.TwitterProfileScraper(int(id))
    print(id)
    try:
        user=scrapper.entity
        # declare a username
        # for i, tweet in enumerate(scrapper.get_items()):
        list1.append([user.username, user.id, user.displayname,
              user.renderedDescription, user.verified, user.created, 
              user.followersCount, user.friendsCount, user.statusesCount,
               user.favouritesCount, user.listedCount, user.mediaCount,user.location,
              user.protected, user.link, user.profileImageUrl])
            # break
    #tweets loop

    # twwts df
    # calc
    #uuser_df
       
    except:
        print('fail')

    user_df = pd.DataFrame(list1, columns=['username', 'id', 'displayname',
                                          'renderedDescription', 'verified', 'created',
                                          'followersCount', 'friendsCount', 'statusesCount',
                                          'favouritesCount', 'listedCount', 'mediaCount', 'location',
                                          'protected', 'link', 'profileImageUrl'])

1217628182611927040
2664730894
1266703520205549568
1089159225148882949
36741729
1365527332627247104
fail
1679822588
1519144464
15211869
1309034737756000256

In [197]:
print(user_df.to_dict('r')[0])

{'username': 'cTalhaAhmad', 'id': 1478841674730250243, 'displayname': 'Talha Ahmad', 'renderedDescription': '', 'verified': False, 'created': Timestamp('2022-01-05 21:32:10+0000', tz='UTC'), 'followersCount': 18, 'friendsCount': 171, 'statusesCount': 10, 'favouritesCount': 9, 'listedCount': 0, 'mediaCount': 3, 'location': '', 'protected': False, 'link': None, 'profileImageUrl': 'https://pbs.twimg.com/profile_images/1479034507672051713/dH0sdmdg_normal.jpg', 'sources': ['Twitter Web App', 'Twitter for iPhone']}

/tmp/ipykernel_42874/2889899012.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  print(user_df.to_dict('r')[0])

In [162]:

user_tweets_list=[]
current_time = datetime.datetime.now()
justOneYear = False
username = 'ctalhaahmad'
for i, tweet in enumerate(sntwitter.TwitterUserScraper(username).get_items()):
        if (justOneYear==True):
            if ((current_time.year-tweet.date.year)):
                print('year end')
                break
        # print(tweet.)
        tweetItem = [tweet.date, tweet.id, tweet.rawContent, tweet.user.username, tweet.lang,
                     tweet.hashtags, tweet.replyCount, tweet.retweetCount, tweet.likeCount,
                     tweet.quoteCount , tweet.media, tweet.sourceLabel, tweet.quotedTweet, tweet.mentionedUsers]
        # print(tweetItem)
        
        user_tweets_list.append(tweetItem)
    
# print(user_tweets_list[0])
user_tweets_df = pd.DataFrame(user_tweets_list, columns=['DateTime', 'TweetId', 'Text', 'Username', 'Language',
                    'Hashtags','ReplyCount','RetweetCount','LikeCount',
                    'QuoteCount','Media','Source','quotedTweet','mentionedUsers'])

In [163]:
user_tweets_df_copy=user_tweets_df

In [ ]:
user

In [164]:
import math

import numpy as np


user_tweets_df
user_tweets_df['we'] = user_tweets_df['DateTime'].dt.day_of_year/7
user_tweets_df['we'] = user_tweets_df['we'].apply(np.ceil)
user_tweets_df['we'] = user_tweets_df['we'].astype(int)
user_tweets_df['we']

user_tweets_df['Hour'] = user_tweets_df['DateTime'].dt.hour

user_tweets_df['Year'] = user_tweets_df['DateTime'].dt.year

user_tweets_df['Month'] = user_tweets_df['DateTime'].dt.month

user_tweets_df['MonthName'] = user_tweets_df['DateTime'].dt.month_name()

user_tweets_df['MonthDay'] = user_tweets_df['DateTime'].dt.day

user_tweets_df['DayName'] = user_tweets_df['DateTime'].dt.day_name()
user_tweets_df['InteractionRating'] = (user_tweets_df['LikeCount'])+(
    user_tweets_df['RetweetCount']*2)+(user_tweets_df['ReplyCount']*3)

user_tweets_df['Week'] = user_tweets_df['DateTime'].dt.day_of_year/7
user_tweets_df['Week'] = user_tweets_df['Week'].apply(np.ceil)
user_tweets_df['Week'] = user_tweets_df['Week'].astype(int)

user_tweets_df['Date'] = [d.date() for d in user_tweets_df['DateTime']]

user_tweets_df['Time'] = [d.time() for d in user_tweets_df['DateTime']]

In [165]:
user_tweets_df[user_tweets_df['ReplyCount'] > 1200]
user_tweets_df[user_tweets_df['ReplyCount']==user_tweets_df['ReplyCount'].max()]
lastYearTweets=user_tweets_df[ user_tweets_df['Year']
                              == user_tweets_df['Year'].max()]
lastYearTweets=lastYearTweets[1:]
lastMonthTweets = lastYearTweets[lastYearTweets['Month']
                                 == lastYearTweets['Month'].max()]

lastweekTweets = lastMonthTweets[lastMonthTweets['Week']
                                 == lastMonthTweets['Week'].max()]
mostInteractedLastYear=lastYearTweets[lastYearTweets['InteractionRating']==lastYearTweets['InteractionRating'].max()]


mostInteractedLastYear

,DateTime,TweetId,Text,Username,Language,Hashtags,ReplyCount,RetweetCount,LikeCount,QuoteCount,...,Hour,Year,Month,MonthName,MonthDay,DayName,InteractionRating,Week,Date,Time
2,2023-01-02 23:13:02+00:00,1610051569399070721,I just played a stalemate draw with a +34 adva...,cTalhaAhmad,en,None,1,0,0,0,...,23,2023,1,January,2,Monday,3,1,2023-01-02,23:13:02

In [166]:
mostInteractedLastWeek= lastweekTweets[lastweekTweets['InteractionRating']
               == lastweekTweets['InteractionRating'].max()]
mostInteractedLastWeek

,DateTime,TweetId,Text,Username,Language,Hashtags,ReplyCount,RetweetCount,LikeCount,QuoteCount,...,Hour,Year,Month,MonthName,MonthDay,DayName,InteractionRating,Week,Date,Time
2,2023-01-02 23:13:02+00:00,1610051569399070721,I just played a stalemate draw with a +34 adva...,cTalhaAhmad,en,None,1,0,0,0,...,23,2023,1,January,2,Monday,3,1,2023-01-02,23:13:02

In [167]:
mostInteractedLastMonth=lastMonthTweets[lastMonthTweets['InteractionRating']
                == lastMonthTweets['InteractionRating'].max()]
mostInteractedLastMonth

,DateTime,TweetId,Text,Username,Language,Hashtags,ReplyCount,RetweetCount,LikeCount,QuoteCount,...,Hour,Year,Month,MonthName,MonthDay,DayName,InteractionRating,Week,Date,Time
2,2023-01-02 23:13:02+00:00,1610051569399070721,I just played a stalemate draw with a +34 adva...,cTalhaAhmad,en,None,1,0,0,0,...,23,2023,1,January,2,Monday,3,1,2023-01-02,23:13:02

In [185]:
scrapper = sntwitter.TwitterProfileScraper(username)
print(id)
list1=[]
try:
        user = scrapper.entity
        # declare a username
        # for i, tweet in enumerate(scrapper.get_items()):
        list1.append([user.username, user.id, user.displayname,
                     user.renderedDescription, user.verified, user.created,
                     user.followersCount, user.friendsCount, user.statusesCount,
                     user.favouritesCount, user.listedCount, user.mediaCount, user.location,
                     user.protected, user.link, user.profileImageUrl])
          # break
    # tweets loop

    # twwts df
    # calc
    # uuser_df

except:
        print('fail')

user_df = pd.DataFrame(list1, columns=['username', 'id', 'displayname',
                                          'renderedDescription', 'verified', 'created',
                                          'followersCount', 'friendsCount', 'statusesCount',
                                          'favouritesCount', 'listedCount', 'mediaCount', 'location',
                                          'protected', 'link', 'profileImageUrl'])

1309034737756000256

In [204]:
SourceList=user_tweets_df['Source'].unique().tolist()
user_df['sources'] = [SourceList]
userDict = user_df.to_dict('records')[0]
mostInteractedLastYear = mostInteractedLastYear.to_dict('records')[0]
mostInteractedLastWeek = mostInteractedLastWeek.to_dict('records')[0]
mostInteractedLastMonth = mostInteractedLastMonth.to_dict('records')[0]
userDict['mostInteractedLastMonth'] = mostInteractedLastMonth
userDict['mostInteractedLastWeek'] = mostInteractedLastWeek
userDict['mostInteractedLastYear']=mostInteractedLastYear

AttributeError: 'dict' object has no attribute 'to_dict'