In [80]:
import twint
import nest_asyncio
nest_asyncio.apply()
import pandas as pd

df=pd.read_csv('./../../../data/twibot-22.csv')
# c = twint.Config()
# # c.t
# c.Username = "elonmusk"
# c.Count

# c.Store_csv = True
# c.Output = "none.csv"
# df=twint.run.Search(c)

In [81]:
df['_id']=df['id'].map(lambda x: x[1:])

In [82]:
df

                          id  label                  _id
0       u1217628182611927040  human  1217628182611927040
1                u2664730894  human           2664730894
2       u1266703520205549568  human  1266703520205549568
3       u1089159225148882949  human  1089159225148882949
4                  u36741729    bot             36741729
...                      ...    ...                  ...
999995           u1151138281  human           1151138281
999996           u1339035361  human           1339035361
999997            u318636852  human            318636852
999998             u43443354  human             43443354
999999             u29471345  human             29471345

[1000000 rows x 3 columns]

In [104]:
c = twint.Config()
c.User_id=df['_id'][1121]
# c.Lookup=True
# c.Pandas = True
# twint.run.Followers(t)
print(df['_id'][11])
twint.user.User('ur=du')

848975226

TypeError: user.__init__() takes 1 positional argument but 2 were given

In [ ]:
import snscrape as snscrape
val = val = snscrape.modules.twitter.TwitterUserScraper(779266494270173187)


df['data']=df['_id'].map(lambda x: snscrape.modules.twitter.TwitterUserScraper(x))